@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f476d, #6672f1);
  font-family: 'Montserrat', sans-serif;
}

.bg_animate{
  overflow: hidden;
}

.bubble{
  border-radius: 50%;
  background: #fff;
  opacity: .3;

  position: absolute;
  bottom: -150;

  animation: bubbles 3s linear infinite ;
}

.bubble:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.bubble:nth-child(2){
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.bubble:nth-child(3){
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.bubble:nth-child(4){
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.bubble:nth-child(5){
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.bubble:nth-child(6){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.bubble:nth-child(7){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.bubble:nth-child(8){
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.bubble:nth-child(9){
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.bubble:nth-child(10){
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}


@keyframes bubbles{
  0%{
      bottom: 0;
      opacity: 0;
  }
  30%{
      transform: translateX(30px);
  }
  50%{
      opacity: .4;
  }
  100%{
      bottom: 100vh;
      opacity: 0;
  }
}

@keyframes moves{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}

.title{
  text-align: center;
  margin: 15px auto;
  padding: 20px 30px;
  border: #000 solid 3px;
}

.list{
  list-style: none;
  padding: 0;
}

.btn {
  background-color: #fff;
  color: #e5dc15;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid #e5dc15;
  border-radius: 5px;
  box-shadow: 0px 10px #e5dc15, 0px 16px rgba(0,0,0,0.4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
}

.disabled .btn{
  cursor: default;
}

.disabled .btn:hover{
  top:0;
  background-color: #FFFFFF;
  color: #e5dc15;
  box-shadow: 0 8px #c2bb11, 0 14px rgba(0,0,0,0.4);

}

.btn.disabled{
  cursor: default;
}

.btn.disabled:hover{
  top:0;
  background-color: #FFFFFF;
  color: #e5dc15;
  box-shadow: 0 8px #c2bb11, 0 14px rgba(0,0,0,0.4);
}

.btn:hover{
  background-color: #e5dc15;
  color: #0E80b0;
  top:4px;
  box-shadow: 0 8px #c2bb11, 0 14px rgba(0,0,0,0.4);
  transition: ease-in 100ms;
}

.btn:active{
  top:8px;
  box-shadow: 0 4px #c2bb11, 0 10px rgba(0,0,0,0.4);
}

.game{
  display: flex;
  flex-wrap: wrap;
}

.game-info{
  margin: 15px;
  color: #fff;
}

.board > div{
  display: flex;
}

.button{
  z-index: 99999;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 5px 17px;
  margin: 3px auto;
  background-color: #0eb052;
  border: #0eb052;
  border-radius: 5px;
  color: #FFFFFF;
}

.button:hover {
  background-color: #0b9745;
  border: #0b9745;
  color: #FFFFFF;
}